body{
    /*背景设置*/
    background: url("../img/微信图片_20190927225908.jpg") no-repeat fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

/*导航栏*/
.nav{
    height: 50px;
    width: 100%;
    background-color: #5A0183;
    position: fixed;
    top: 0;
}

.nav ul{
    width: 50%;
    list-style-type: none;
    margin: auto;
}

.nav li{
    float: left;
    width: 10%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.nav li:hover {
    background-color: #FF3D3D;
}

.nav a{
    color:white;
    text-decoration: none;
}

/*登录框*/
.login{
    width: 400px;
    height: 280px;
    padding: 15px;
    margin: 20% auto;
    background-color: #fff;
}

.head{
    text-align: center;
    position: relative;
}

.head span{
    color: green;
    font-size: 25px;
    position: absolute;
    transform: translate(0px, -18px);
    top: 50%;
    left: 6%;
}

.from{
    width: 90%;
    padding: 5px;
    margin: 10px auto;
    overflow: auto;
}

.form input{
    width: 81%;
    padding: 5px 35px;
    margin: 10px auto;
    overflow:hidden;
}

.user,.psd {
    position: relative;
}

.usern{
    position: absolute;
    background: url("../img/用户.png") no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 5px;
    background-size: cover;
}

.psdn{
    position: absolute;
    background: url("../img/密码.png") no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 5px;
    background-size: cover;
}

.submit{
    width: 60%;
    background-color: #3A85C8;
    margin: auto;
    display: block;
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 0;
    font-size: 22px;
}

.text{
    width: 90%;
    margin: auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.right a:hover{
    color: #FF3D3D;
}

