h3{color:#ff7300;}
.f14{font-weight: bold;}
#head h2{border:1px solid #ff73;}
div p{padding:0 auto;}
div #head{margin:0 auto;}
#head h2 span{float:right;}
#head .f14 em{float:right;}
#head .f14 span em{float: right;}
#head div h2 .f12 span em{color:#000;}